EBAY_ACCOUNT_DELETION_ENDPOINT=https://<your-function-domain>.appwrite.run/
EBAY_ACCOUNT_DELETION_VERIFICATION_TOKEN=bfd48a26f801ec5c5dca058d46d409395ab84cdcaa1db9d8
EBAY_CLIENT_ID=MarcosDe-KeepFlip-PRD-9017de36f-fe822bd6
EBAY_CLIENT_SECRET=PRD-017de36fd3b7-9dc8-4834-87b7-0d27
EBAY_ENVIRONMENT=production
APPWRITE_EBAY_DATABASE_ID=keepflip
APPWRITE_EBAY_USER_DATA_COLLECTION_IDS=ebay_connections